# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info

# Environment files
.env
.env.*

# Git
.git
.gitignore

# Docker-related
Dockerfile*
.dockerignore

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Build and distribution
dist/
build/
tmp/